<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <div>
  <%= editable_field @user, :name,{    :rows => 10,
                                         :cols => 80,
                                         :submit => 'Ok',
                                         :onblur => 'ignore',
                                    } %>
  </div>
</p>

<p>
  <b>Gmail:</b>
  <%= editable_field @user, :gmail ,{    :rows => 10,
                                         :cols => 80,
                                         :submit => 'Ok',
                                         :onblur => 'ignore',
                                         :tooltip => 'Click to edit...'
                                    } %>
</p>

<p>
  <b>Pincode:</b>
  <%= editable_field @user,:pincode,{    :type =>'wysiwyg',
                                         :rows => 10,
                                         :cols => 80,
                                         :submit => 'Ok',
                                         :onblur => 'ignore',
                                    } %>
 %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
